@import "./abstracts/vars";
@import "./abstracts/mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@import './slick';

@import './components/rating';
@import './components/link-arrow';
@import './components/slider';
@import './components/article';


@import './layout/header';
@import './layout/main-block';
@import './layout/information';
@import './layout/photos';
@import './layout/about';
@import './layout/record';
@import './layout/map';
@import './layout/reviews';
@import './layout/footer';