.article {
    margin-bottom: 30px;
    max-width: 630px;

    &__header {
        position: relative;
        height: 132px;

        @include media(md) {
            height: 117px;
        }

        &-inner {
            display: flex;
            margin-bottom: 24px;
        }
    }


    &__image {
        width: 84px;
        height: 84px;
        margin-right: 18px;

        @include media(md) {
            width: 101px;
            height: 101px;
            margin-right: 20px;
        }
    }

    &__name {
        @include text(16px, 500, 20px, $textColor);
        margin-top: 10px;
        margin-bottom: 6px;

        @include media(md) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__profession {
        @include text(12px, 400, 21px, $textColor);
        margin-bottom: 7px;
    }

    &__wrapper {
        @include media(md) {
            position: relative;
            display: flex;
            align-items: center;
            gap: 50px;
        }
    }

    &__image-rating {
        width: 118px;
        height: 17px;
    }

    
    &__title {
        @include text(14px, 400, 21px, $textColorLight);
        padding-left: 20px;
        position: absolute;
        left: 0;
        bottom: 14px;

        @include media(md) {
            position: relative;
            left: 0;
            bottom: 0;
        }

        &:after {
            content: "";
            display: block;
            background-image: url(./../images/reviews/tick.svg);
            background-size: 15px 11.5px;
            width: 15px;
            height: 11.5px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    &__content {
        border-bottom: 0.5px solid #C7C7C7;

        @include media(sm) {
            max-width: 510px;
        }

        @include media(md) {
            margin-left: 120px;
        }
        
    }

    &__text {
        @include text(14px, 400, 21px, $textColor);
    }

    &__time {
        @include text(14px, 400, 21px, $textColorLight);
        padding: 17px 0 44px;
        display: block;
    }
}