.camerist-card {
    display: flex;

    &__disc {
        display: flex;
        flex-direction: column;
        margin-left: 11px;
    }

    &__photo {
        width: 67px;
        height: 67px;
    }

    &__name {
        @include text(16px, 500, 20px, $textColor);
    }

    &__profession {
        @include text(14px, 400, 21px, $textColor);
    }

    &__more-link {
        @include text(14px, 400, 21px, $linkColor);
        width: 160px;
    }

}