   // rating 
.rating-box {
    display: flex;
    align-items: center;

    &__text {
        & span {
            font-weight: 600;
        }    
    }

    &__inner {
        display: flex;
        flex-direction: column;
    
        @include media(sm) {
            flex-direction: row;
            align-items: center;
        }
    }
}

.rating {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    gap: 7px;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating>input {
    display: none;
}

.rating>label {
    cursor: pointer;
    width: 18px;
    height: 17px;
    margin-top: auto;
    background-image: url("./../images/components/star-gray.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 17px;
    transition: .3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
    background-image: url("./../images/components/star.svg");
}

.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
    background-image: url("./../images/components/star.svg");
}
