.slider {
    min-width: 0;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        @include media(lg) {
            flex-direction: row;
            justify-content: flex-start;
            gap: 18px;
        }
    }

    &__circle {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-color: $accentColor;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 17px;
    }

    &__number {
        @include text(30px, 700, 44px, white);
    }

    &__disc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include media(lg) {
            align-items: flex-start;
        }
    }

    &__question {
        @include text(16px, 500, 23px, $textColor);
        margin-bottom: 6px;
    }

    &__answer {
        @include text(14px, 400, 20px, $textColor);
        margin-bottom: 11px;
    }
}