@charset "UTF-8";

.header .container, .main .container, .information .container, .photos .container, .about .container, .record .container, .map .container, .reviews .container, .footer__top .container, .footer__content .container {
    padding: 0 15px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (min-width: 576px) {
    .header .container, .main .container, .information .container, .photos .container, .about .container, .record .container, .map .container, .reviews .container, .footer__top .container, .footer__content .container {
        padding: 0 35px;
    }
}

@media screen and (min-width: 768px) {
    .header .container, .main .container, .information .container, .photos .container, .about .container, .record .container, .map .container, .reviews .container, .footer__top .container, .footer__content .container {
        padding: 0 50px;
    }
}

@media screen and (min-width: 1280px) {
    .header .container, .main .container, .information .container, .photos .container, .about .container, .record .container, .map .container, .reviews .container, .footer__top .container, .footer__content .container {
        padding: 0;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Слайдер */
.slick-slider {
    position: relative;
    padding: 0 30px;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: -ms-flexbox;
    display: flex;
}

/* Стрелка */
.slick-arrow {
    position: absolute;
    top: 15%;
    z-index: 10;
    font-size: 0;
    width: 10px;
    height: 19px;
    border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url(./../images/slider/arrowLeft.svg) 0 0/100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url(./../images/slider/arrowRight.svg) 0 0/100% no-repeat;
}

/* Точки (булиты) */
.slick-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
}

/* Элемент точки */
.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #C7C7C7;
    background-color: #fff;
}

.slick-dots li.slick-active button {
    border: 1px solid #FC9B09;
    background-color: #FC9B09;
}

.rating-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.rating-box__text span {
    font-weight: 600;
}

.rating-box__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 576px) {
    .rating-box__inner {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
    }
}

.rating {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    position: relative;
    gap: 7px;
}

.rating-0 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.rating > input {
    display: none;
}

.rating > label {
    cursor: pointer;
    width: 18px;
    height: 17px;
    margin-top: auto;
    background-image: url("./../images/components/star-gray.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 17px;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("./../images/components/star.svg");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("./../images/components/star.svg");
}

.link {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #5286EC;
    position: relative;
}

.link--arr-right::after {
    content: "";
    display: block;
    background-image: url(./../images/photos/arrow.png);
    background-size: 11px 6px;
    width: 11px;
    height: 6px;
    position: absolute;
    right: -21px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.link--two-arr::before {
    content: "";
    display: block;
    background-image: url(./../images/photos/arrow.png);
    background-size: 11px 6px;
    width: 11px;
    height: 6px;
    position: absolute;
    left: -21px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.link--two-arr::after {
    content: "";
    display: block;
    background-image: url(./../images/photos/arrow.png);
    background-size: 11px 6px;
    width: 11px;
    height: 6px;
    position: absolute;
    right: -21px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider {
    min-width: 0;
}

.slider__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 1280px) {
    .slider__item {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        justify-content: flex-start;
        gap: 18px;
    }
}

.slider__circle {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #FC9B09;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 17px;
}

.slider__number {
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    color: white;
}

.slider__disc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 1280px) {
    .slider__disc {
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.slider__question {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #37373F;
    margin-bottom: 6px;
}

.slider__answer {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #37373F;
    margin-bottom: 11px;
}

.article {
    margin-bottom: 30px;
    max-width: 630px;
}

.article:last-of-type {
    display: none;
}

@media (min-width: 576px) {
    .article:last-of-type {
        display: block;
    }
}

.article__header {
    position: relative;
    height: 132px;
}

@media (min-width: 768px) {
    .article__header {
        height: 117px;
    }
}

.article__header-inner {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
}

.article__image {
    width: 84px;
    height: 84px;
    margin-right: 18px;
}

@media (min-width: 768px) {
    .article__image {
        width: 101px;
        height: 101px;
        margin-right: 20px;
    }
}

.article__author {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #37373F;
    margin: 6px 0 4px;
}

@media (min-width: 768px) {
    .article__author {
        font-size: 18px;
        line-height: 21px;
    }
}

.article__profession {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #37373F;
    margin-bottom: 9px;
}

@media (min-width: 768px) {
    .article__wrapper {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        gap: 50px;
    }
}

.article__image-rating {
    width: 118px;
    height: 17px;
}

.article__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #B3B3B3;
    padding-left: 20px;
    position: absolute;
    left: 0;
    bottom: 4px;
}

@media (min-width: 768px) {
    .article__title {
        position: relative;
        left: 0;
        bottom: 0;
    }
}

.article__title:after {
    content: "";
    display: block;
    background-image: url(./../images/reviews/tick.svg);
    background-size: 15px 11.5px;
    width: 15px;
    height: 11.5px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.article__content {
    border-bottom: 0.5px solid #C7C7C7;
    margin-top: 12px;
}

@media (min-width: 576px) {
    .article__content {
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .article__content {
        margin-left: 120px;
    }
}

.article__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #37373F;
}

.article__time {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #B3B3B3;
    padding: 38px 0 37px;
    display: block;
}

.video-player {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .video-player {
        max-width: 668px;
    }
}

@media (min-width: 1280px) {
    .video-player {
        max-width: 554px;
    }
}

.video-player:hover .video-player__orange-bar-wrapper {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.video-player:hover button {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.video-player:hover .video-player button.pause:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.video-player:hover .video-player button.play:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.video-player__video {
    width: 100%;
}

.video-player button {
    position: absolute;
    bottom: 15%;
    right: 10%;
    background: none;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.video-player button:before {
    content: "";
    display: block;
    background-image: url(./../images/information/play.svg);
    background-size: 12px 17px;
    width: 12px;
    height: 17px;
}

@media (min-width: 576px) {
    .video-player button:before {
        background-size: 16px 23px;
        width: 16px;
        height: 23px;
    }
}

.video-player button.play:before {
    content: "";
    background-image: url(./../images/information/play.svg);
    background-size: 12px 17px;
    width: 12px;
    height: 17px;
}

.video-player button.pause:before {
    content: "";
    background-image: url(./../images/information/pause.svg);
    background-size: 12px 17px;
    width: 12px;
    height: 17px;
}

.video-player__orange-bar-wrapper {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transform: translateY(0) translateY(-10px);
    transform: translateY(0) translateY(-10px);
    transition: all 0.2s;
}

.video-player__orange-bar {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
}

.video-player__orange-juice {
    height: 10px;
    background-color: #FC9B09;
}

.header {
    background-color: #fff;
}

@media (min-width: 768px) {
    .header {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }
}

.header__inner {
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 768px) {
    .header__inner {
        height: 100px;
    }
}

.header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 4px;
}

.header__logo {
    margin-right: 45px;
    width: 84px;
    height: 15,33px;
}

@media (min-width: 576px) {
    .header__logo {
        margin-right: 36px;
    }
}

@media (min-width: 768px) {
    .header__logo {
        width: 140px;
    }
}

.header__city-phone {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #5286EC;
}

@media (min-width: 576px) {
    .header__city-phone {
        display: none;
    }
}

.header__phone {
    display: none;
}

.header__phone span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #B3B3B3;
}

@media (min-width: 576px) {
    .header__phone {
        display: block;
    }
}

.header__phone-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #37373F;
}

.header__user {
    margin-top: 4px;
}

@media (min-width: 1280px) {
    .header__user {
        display: none;
    }
}

.main {
    background-image: url(./../images/main-block/main-bg.jpg);
    color: #fff;
    background-size: cover;
    background-position-x: 62%;
}

@media (min-width: 1280px) {
    .main {
        background-position-y: 50%;
    }
}

.main__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 655px;
}

.main__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #fff;
    max-width: 247px;
    margin-top: 141px;
}

.main__title span {
    color: #FC9B09;
}

@media (min-width: 768px) {
    .main__title {
        max-width: 590px;
    }
}

@media (min-width: 1280px) {
    .main__title {
        max-width: 880px;
    }
}

.main__price-box {
    position: relative;
    margin-top: 35px;
}

.main__price-box::after {
    content: "";
    display: block;
    background-image: url(./../images/main-block/percente.svg);
    background-repeat: no-repeat;
    background-size: 47px 47px;
    width: 47px;
    height: 47px;
    position: absolute;
    top: 16px;
    left: 138px;
}

@media (min-width: 768px) {
    .main__price-box::after {
        left: 143px;
        background-size: 52px 52px;
        width: 52px;
        height: 52px;
    }
}

.main__price {
    height: 93px;
    width: 209px;
    margin-left: -5px;
}

@media (min-width: 768px) {
    .main__price {
        height: 96px;
        width: 224px;
    }
}

.main__btn {
    width: 275px;
    height: 68px;
    border: 3px solid #fff;
    border-radius: 7px;
    background-color: transparent;
    margin-top: 3px;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    color: white;
    -webkit-filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7));
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7));
}

.information {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #37373F;
}

@media (min-width: 576px) {
    .information {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: #37373F;
    }
}

.information .container {
    position: relative;
}

@media (min-width: 1280px) {
    .information__inner {
        width: 569px;
    }
}

.information__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    color: #37373F;
    margin: 38px auto 13px;
    text-align: center;
    width: 196px;
}

@media (min-width: 768px) {
    .information__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 49px;
        color: #37373F;
        margin: 50px auto 40px;
        width: 255px;
    }
}

@media (min-width: 1280px) {
    .information__title {
        margin-left: 0;
    }
}

.information__video-player {
    margin: 0 auto 30px;
    position: relative;
}

@media (min-width: 1280px) {
    .information__video-player {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.information__description {
    margin-bottom: 35px;
    width: 290px;
}

@media (min-width: 576px) {
    .information__description {
        width: 506px;
    }
}

.information__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 48px;
}

.information__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.information__item:nth-child(1) {
    margin-bottom: 21px;
}

.information__item:nth-child(2) {
    margin-bottom: 16px;
}

.information__item:nth-child(3) {
    margin-bottom: 11px;
}

.information__icon-wrapper {
    width: 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}

.information__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #37373F;
    width: 216px;
}

.information__rating-box {
    height: 70px;
    border-top: 0.5px solid #C7C7C7;
    border-bottom: 0.5px solid #C7C7C7;
    gap: 11px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .information__rating-box {
        margin-bottom: 46px;
    }
}

.information__rating-box-icon {
    width: 36.65px;
    height: 41px;
}

@media (min-width: 576px) {
    .information__rating-box-icon {
        width: 32px;
        height: 35.8px;
    }
}

.information__rating-box-inner {
    gap: 5px;
    margin-top: 2px;
}

@media (min-width: 768px) {
    .information__rating-box-inner {
        gap: 14px;
    }
}

.information__rating-box-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #37373F;
}

@media (min-width: 576px) {
    .information__rating-box-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: #37373F;
    }
}

.photos__title {
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    color: #37373F;
    margin: 60px auto 35px;
    text-align: center;
    width: 196px;
}

@media (min-width: 768px) {
    .photos__title {
        font-size: 28px;
        font-weight: 500;
        line-height: 41px;
        color: #37373F;
        width: 300px;
        text-align: left;
        margin-left: 0;
    }
}

.photos__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 277px);
    gap: 15px;
    overflow-x: auto;
}

@media (min-width: 768px) {
    .photos__wrapper {
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 11px 10px;
        max-width: 564px;
    }
}

@media (min-width: 1280px) {
    .photos__wrapper {
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        gap: 11px 10px;
        min-width: 100%;
    }
}

.photos__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.photos__footer {
    display: none;
}

@media (min-width: 768px) {
    .photos__footer {
        display: block;
        height: 90px;
        padding-top: 45px;
        text-align: center;
        border-bottom: 0.5px solid #C7C7C7;
    }
}

.photos__link {
    text-decoration: none;
    position: relative;
}

.about {
    padding-top: 50px;
}

.about__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media (min-width: 1280px) {
    .about__inner {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.about__image-box {
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 19px;
    margin-left: -12px;
}

@media (min-width: 1280px) {
    .about__image-box {
        margin-right: 130px;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

.about__image-box::before {
    content: "";
    display: block;
    background-image: url(./../images/about/heart.png);
    background-size: 31px 27px;
    width: 31px;
    height: 27px;
    position: absolute;
    right: -50px;
    top: 0;
}

.about__image {
    margin: 13px 0 23px;
    width: 139px;
    height: 139px;
}

.about__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #37373F;
    margin-bottom: 7px;
}

.about__profession {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #37373F;
    margin-bottom: 7px;
}

.about__img-link-more {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #5286EC;
    text-align: center;
    width: 200px;
}

@media (min-width: 576px) {
    .about__discription {
        width: 506px;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

@media (min-width: 768px) {
    .about__discription {
        width: 584px;
    }
}

.about__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #37373F;
    margin-bottom: 13px;
}

.about__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #37373F;
    margin-bottom: 27px;
    max-width: 584px;
}

.about__text:last-of-type {
    margin-bottom: 0;
}

.about__link-wrap {
    margin: 19px 0 27px;
}

.about__link-more {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #5286EC;
}

.about__footer {
    display: none;
}

@media (min-width: 576px) {
    .about__footer {
        display: block;
        border-bottom: 0.5px solid #C7C7C7;
    }
}

.record__title {
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    color: #37373F;
    margin: 0 auto 41px;
    width: 285px;
    text-align: center;
}

@media (min-width: 576px) {
    .record__title {
        margin: 21px auto 40px;
    }
}

@media (min-width: 768px) {
    .record__title {
        margin: 50px auto 30px 0;
        text-align: left;
    }
}

.record__flex-table {
    border: 1px solid #C7C7C7;
    margin-bottom: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #37373F;
}

@media (min-width: 768px) {
    .record__flex-table {
        margin-bottom: 82px;
    }
}

.record__tr {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .record__tr {
        padding: 0 30px;
    }
}

.record__tr--header {
    height: 60px;
    border-bottom: 1px solid #C7C7C7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.record__tr--header span {
    font-weight: 500;
}

@media (min-width: 576px) {
    .record__tr--header {
        height: 74px;
        padding: 0 20px;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .record__tr--header {
        padding: 0 30px;
    }
}

.record__tr--header-time {
    position: relative;
}

@media (min-width: 576px) {
    .record__tr--header-time {
        text-align: left;
    }
}

.record__tr--header-time::after {
    content: "";
    display: none;
    background-image: url(./../images/record/calendar.png);
    background-size: 35px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -7px;
    right: -46px;
}

@media (min-width: 576px) {
    .record__tr--header-time::after {
        display: block;
    }
}

.record__tr--row {
    border-bottom: 1px solid #C7C7C7;
    height: 220px;
    padding: 29px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (min-width: 576px) {
    .record__tr--row {
        height: 130px;
        padding: 20px 20px;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .record__tr--row {
        height: 130px;
        padding: 20px 30px;
    }
}

.record__tr-row-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
}

.record__tr-cost {
    font-weight: 600;
    font-weight: 22px;
}

.record__tr-btn {
    width: 129px;
    height: 50px;
    border: 2px solid #FC9B09;
    border-radius: 3px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FC9B09;
    -webkit-filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7));
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7));
}

.record__tr--footer {
    height: 100px;
    padding-top: 31px;
}

.record__rating-box {
    gap: 14px;
}

.record__rating-box-icon {
    width: 35px;
    height: 39.16px;
}

@media (min-width: 576px) {
    .record__rating-box-icon {
        width: 32px;
        height: 35.8px;
    }
}

.record__rating-box-inner {
    gap: 9px;
}

@media (min-width: 768px) {
    .record__rating-box-inner {
        gap: 14px;
    }
}

.record__rating-box-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #37373F;
}

@media (min-width: 576px) {
    .record__rating-box-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: #37373F;
    }
}

.map {
    position: relative;
}

.map__iframe {
    width: 100%;
    height: 423px;
    border: 0;
    padding: 0;
    margin: 0;
}

@media (min-width: 576px) {
    .map__iframe {
        height: 509px;
    }
}

.map .container {
    padding: 46px 22px 0;
}

@media (min-width: 1280px) {
    .map .container {
        padding: 0;
        position: absolute;
        top: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.map__box-wrapper {
    background-color: white;
    border: 1px solid #c7c7c7;
    max-width: 400px;
    padding: 52px 0 11px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 1280px) {
    .map__box-wrapper {
        margin: 0;
        max-width: 420px;
        height: 469px;
        padding: 51px 30px 54px;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.map__slider {
    width: 220px;
}

@media (min-width: 1280px) {
    .map__slider {
        width: 100%;
    }
}

.map__worker-card {
    width: 215px;
    margin-top: 41px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 1280px) {
    .map__worker-card {
        margin-top: 0;
        width: 100%;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.map__worker-card-disc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 11px;
}

.map__worker-card-image {
    width: 67px;
    height: 67px;
}

.map__worker-card-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #37373F;
    margin-bottom: 5px;
}

.map__worker-card-profession {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #37373F;
    margin-bottom: 2px;
}

.map__worker-card-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #5286EC;
}

@media (min-width: 1280px) {
    .map__worker-card-link {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .map__worker-card-link span {
        display: none;
    }
}

.reviews__title {
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
    color: #37373F;
    margin: 38px 0 46px;
    text-align: center;
}

.reviews__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 38px;
}

@media (min-width: 576px) {
    .reviews__four {
        display: none;
    }
}

.reviews__three {
    display: none;
}

@media (min-width: 576px) {
    .reviews__three {
        display: inline;
    }
}

.footer__top {
    margin-top: 78px;
    border-bottom: 0.5px solid #B3B3B3;
    height: 49px;
}

.footer__top .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.footer__top-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.footer__logo {
    width: 84px;
    height: 15.3px;
}

.footer__social-list {
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-align: center;
    align-items: center;
}

.footer__social-icon {
    width: 25.5px;
}

.footer__content {
    height: 139px;
    padding-top: 26px;
}

@media (min-width: 576px) {
    .footer__content {
        background-color: #FAF9F8;
        height: 77px;
    }
}

.footer__content .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-flex-align: center;
    align-items: center;
    gap: 22px;
}

@media (min-width: 576px) {
    .footer__content .container {
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
}

.footer__pay-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 17px;
}

.footer__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #B3B3B3;
    grid-area: 2/1/3/3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 576px) {
    .footer__description {
        grid-area: 1/2/2/4;
    }
}

.footer__support {
    margin-bottom: 10px;
}

.footer__support-phone {
    color: #B3B3B3;
}

.footer__language-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

.footer__language {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #37373F;
    position: relative;
    width: 40px;
}

.footer__language::after {
    content: "";
    display: block;
    background-image: url(./../images/photos/arrow.png);
    background-size: 11px 6px;
    width: 11px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 1280px) {
    .footer__language--none {
        display: none;
    }
}

.footer__language--block {
    display: none;
}

@media (min-width: 1280px) {
    .footer__language--block {
        display: block;
        margin-left: 30px;
    }
}
