.main {
    background-image: url(./../images/main-block/main-bg.jpg);
    color: $primaryColor;
    background-size: cover;
    background-position-x: 62%;

    .container {
        @extend %container;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 655px;
    }

    &__title {
        @include text(32px, 700, 39px, $primaryColor);
        max-width: 247px;
        margin-top: -6px;

        span {
            color: $accentColor;
        }

        @include media(md) {
            max-width: 590px;
        }

        @include media(lg) {
            max-width: 880px;
        }
    }
    &__price-box {
        position: relative;
        margin: 24px 0 12px;

        &::after {
            content: "";
            display: block;
            background-image: url(./../images/main-block/percente.svg);
            background-repeat: no-repeat;
            background-size: 47px 47px;
            width: 47px;
            height: 47px;
            position: absolute;
            top: 16px;
            left: 138px;

            @include media(md) {
                left: 143px;
                background-size: 52px 52px;
                width: 52px;
                height: 52px;
            }
        }
    }

    &__price {
        height: 86px;
        width: 200px;
        
        margin-left: -5px;

        @include media(md) {
            height: 96px;
            width: 224px;
        }
    }

    &__btn {
        width: 275px;
        height: 68px;
        border: 3px solid $primaryColor;
        border-radius: 7px;
        background-color: transparent;
        @include text(16px, 900, 20px, white);
        filter:  drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7));
        // transform: translateX(-6px);
    }
}