.map {
    position:  relative;

    &__iframe {
        width: 100%;
        height: 423px;
        border:0;

        @include media(sm) {
            height: 509px;
        }
    }

    .container {
        @extend %container;

        @include media(lg) {
            position: absolute;
            top: 20px;
            left:50%;
            transform: translateX(-50%);
        }
    }

    &__slider-wrapper {
        background-color: white;
        border: 1px solid #c7c7c7;
        max-width: 400px;
        margin: 52px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media(lg) {
            margin: 0;
            max-width: 420px;
            height: 469px;
        }
    }

    &__slider {
        width: 212px;
    }

    &__camerist-card {
        padding: 20px 30px;
        display: flex;
        justify-content: center;
    }
}