.map {
    position:  relative;

    &__iframe {
        width: 100%;
        height: 423px;
        border:0;
        padding: 0;
        margin: 0;

        @include media(sm) {
            height: 509px;
        }
    }

    .container {
        @extend %container;
        padding: 46px 22px 0;

        @include media(lg) {
            position: absolute;
            top: 20px;
            left:50%;
            transform: translateX(-50%);
        }
    }

    &__box-wrapper {
        background-color: white;
        border: 1px solid #c7c7c7;
        max-width: 400px;
        padding: 52px 0 11px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media(lg) {
            margin: 0;
            max-width: 420px;
            height: 469px;
            padding: 51px 30px 54px;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__slider {
        width: 220px;

        @include media(lg) {
            width: 100%;
        }
    }

    &__worker-card {
        width: 215px;
        margin-top: 41px;
        display: flex;
        justify-content: center;

        @include media(lg) {
            margin-top: 0;
            width: 100%;
            justify-content: flex-start;
        }
        

        &-disc {
            display: flex;
            flex-direction: column;
            margin-left: 11px;
        }
    
        &-image {
            width: 67px;
            height: 67px;
        }
    
        &-name {
            @include text(16px, 500, 20px, $textColor);
            margin-bottom: 5px
        }
    
        &-profession {
            @include text(14px, 400, 21px, $textColor);
            margin-bottom: 2px
        }
    
        &-link {
            @include text(14px, 400, 21px, $linkColor);

            @include media(lg) {
                width: 100%;
            }

            & span {
                @include media(lg) {
                    display: none;
                }
            }
        }

    }
}