.photos {

    .container {
        @extend %container;
    }

    &__title {
        @include text(26px, 400, 32px, $textColor);
        margin: 60px auto 32px;
        text-align: center;
        width: 196px;

        @include media(md) {
            @include text(28px, 500, 41px, $textColor);
            width: 300px;
            text-align: left;
            margin-left: 0;
        }


    }

    &__wrapper {
        display: flex;
        gap: 15px;
        overflow-x: auto;

        @include media(md) {
            margin: 0 auto;
            flex-wrap: wrap;
            width: 560px;
            gap: 11px 10px;
        }

        @include media(lg) {
            width: 100%;
            gap: 11px 13px;
        }
    }

    &__image {
        width: 275px;
    }

    &__footer  {
        display: none;

        @include media(md) {
            display: block;
            height: 90px;
            padding-top: 45px;
            text-align: center;
            border-bottom: 0.5px solid #C7C7C7;
        }
    }

    &__link {
        text-decoration: none;
        position: relative;
    }
}