.record {

    .container {
        @extend %container;
    }
    &__title {
        @include text(26px, 400, 31px, $textColor);
        margin: 0 auto 41px;
        width: 285px;
        text-align: center;

        @include media(sm) {
            margin: 21px auto 40px;
        }

        @include media(md) {
            margin: 50px auto 30px 0;
            text-align: left;
        }
    }

    &__table {
        border: 1px solid #C7C7C7;
        margin-bottom: 45px;
        @include text(18px, 400, 26px, $textColor);

        @include media(md) {
            margin-bottom: 82px;
        }
    }

    &__tb-header {
        height: 60px;
        border-bottom: 1px solid #C7C7C7;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            font-weight: 500;
        }

        @include media(sm) {
            height: 74px;
            padding: 30px 20px 0;
            justify-content: flex-start;
        }
        @include media(md) {
            padding: 30px 30px 0;
        }
    }
    
    &__tb-header-time {
        position: relative;

        @include media(sm) {
            text-align: left;
        }

        &::after {
            content: "";
            display: none;
            background-image: url(./../images/record/calendar.png);
            background-size: 35px;
            width: 35px;
            height: 35px;
            position: absolute;
            top: -7px;
            right: -46px;

            @include media(sm) {
                display: block;
            }
        }
    }

    &__tb-row {
        border-bottom: 1px solid #C7C7C7;
        height: 220px;
        padding: 29px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media(sm) {
            height: 130px;
            padding: 20px 20px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }

    &__cost {
        font-weight: 600;
        font-weight: 22px;
    }

    &__tb-footer {
        height: 100px;
        padding: 31px 5px 0 22px;
    }

    &__btn {
        width: 129px;
        height: 50px;
        border: 2px solid $accentColor;
        border-radius: 3px;
        background-color: transparent;
        @include text(14px, 400, 17px, $accentColor);
        filter:  drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7));
    }

    &__rating-box {
        gap: 14px;

        &-icon {
            width: 35px;
            height: 39.16px;

            @include media(sm) {
                width: 32px;
                height: 35.8px;
            }
        }

        &-inner {
            gap: 9px;

            @include media(md) {
                gap: 14px;
            }
        }

        &-text {
            @include text(13px, 400, 19px, $textColor);

            @include media(sm) {
                @include text(18px, 400, 26px, $textColor);
            }
        }
    }
}