.reviews{

    .container {
        @extend %container;
    }

    &__title {
        @include text(26px, 400, 39px, $textColor);
        margin: 40px auto 50px;
    }

    &__footer { 
        display: flex;
        justify-content: center;
    }

    &__four {
        @include media(sm) {
            display: none;
        }
    }

    &__three {
        display: none;
        @include media(sm) {
            display: inline;
        }
    }
}