.reviews{

    .container {
        @extend %container;
    }

    &__title {
        @include text(26px, 400, 39px, $textColor);
        margin: 38px 0 46px;
        text-align: center;
    }

    &__footer { 
        display: flex;
        justify-content: center;
        margin-top: 38px;
    }

    &__four {
        @include media(sm) {
            display: none;
        }
    }

    &__three {
        display: none;
        @include media(sm) {
            display: inline;
        }
    }
}